<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/Images/lesson.png" />
    <script src="https://kit.fontawesome.com/32b7c2c1f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CloudLearn.styles.css" />
    <HeadOutlet />
    <link rel ="stylesheet" href="_content/Syncfusion.Blazor.Themes/fluent.css" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
