@inherits LayoutComponentBase
@layout AccountLayout

<div class="p-2">
    <div class="bg-white flex flex-row p-4 rounded shadow-md shadow-gray-400 h-32 justify-between items-center">
        <div class="flex flex-row justify-center items-center">
            <img src="/Images/lesson.png" width=100 height=100 alt="App logo" class="rounded-full object-contain" />
            <div class="ml-8">
                <p class="font-semibold uppercase text-base text-indigo-500">CloudLearn</p>
                <p class="font-semibold capitalize text-xs "> limitless in potential and always there, ready to be accessed at any time</p>
            </div>
            
        </div>
        <div>
            <h1 class="font-semibold text-base text-indigo-500 uppercase">Manage your account</h1>
            <h2 class="font-semibold text-xs uppercase">Change your account settings</h2>
        </div>
    </div>

    <div class="mt-6">
        <div class="flex flex-row justify-center space-x-4">
            <div class="basis-1/4 p-2 bg-white shadow-md shadow-gray-400 rounded" style="height:100%">
                <ManageNavMenu />
            </div>
            <div class="basis-3/4 p-2 bg-white shadow-md shadow-gray-400 rounded" style="height:523px">
                @Body
            </div>
        </div>
    </div>
</div>

